/* Zona invisible que detecta el mouse */
.hoverZone {
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  width: 100%;
  z-index: 998;
}

/* Navbar */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;

  background: rgba(255, 255, 255, 0.44);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.35s ease, opacity 0.35s ease;
}

.hide {
  transform: translateY(-110%);
  opacity: 0;
  pointer-events: none;
}

.show {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.nav {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0.7rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
}

.logo {
  height: 44px;
}

.links {
  list-style: none;
  display: flex;
  gap: 2rem;
  align-items: center;

  li a {
    text-decoration: none;
    color: #0a2540;
    font-weight: 500;
    font-size: 15px;
    transition: color 0.15s ease;

    &:hover {
      color: #0057b8;
    }
  }
}

.contactBtn {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  background-color: #0057b8;
  color: white !important;

  &:hover {
    background-color: #003f87;
  }
}
